<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BowlerData</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*This lists the name of the team whose player contact info is being displayed*@
    <div class="text-center">
        @if (ViewBag.TeamName == null)
        {
            <h1>Bowler Contact Info</h1>
        }
        @if (ViewBag.TeamName != null)
        {
            <h1>@Model.TeamName</h1>
        }
    </div>
    <div class="container">
        <div class="row">
            @*This displays the filtering by team buttons*@
            <div class="col-2">
                <vc:teams />
            </div>
            @*This displays the contact info of the players*@
            <div class="col-4">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>